.group1 {
    margin: 0;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    gap: 0.5vw;
  }
  @media (max-width: 768px) {
    .group1 {
      flex-direction: column;
      height: auto;
    }
}